<div class="col-xs-4 photos-box">
    <a href="#bikeModal5" class="portfolio-link" data-toggle="modal">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x">{{ ez_content_name(content) }}</i>
            </div>
        </div>
        {{ ez_render_field(content, 'image') }}
    </a>
</div>
