<div class="col-xs-12">
    <div class="col-xs-6 searcher pull-right">
        <h4 class="center bottom pull-left searcher-text">Find a Ride:</h4>
        <div class="input-group custom-search-form">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
